{% extends 'layout.html.twig' %}

{% block title %}liste des catégories{% endblock %}

{% block content %}

	{# pour afficher tous type de messages #}
	{% for label, messages in app.flashes %}

		{% for message in messages %}

			<div class="alert alert-{{ label }}">
                {{ message }}
            </div>

		{% endfor%}

	{% endfor %}

	<h1>{{ category.libelle }}</h1>

	{% for article in category.articles %}
		<article>{{ article.title }}</article>
	{% endfor %}

{% endblock %}
