{% extends 'layout.html.twig' %}

{% block title %}Article{% endblock %}

{% block titlepage %}Article{% endblock %}

{% block content %}
	
	 <article>
	     {{ article.title }}, publie le {{ article.datepubli|date('d/m/Y') }} par {{ article.user.username }}
	     <p>{{ article.content }}</p>
	</article>

{% endblock %}
